<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div *ngIf="getLanguage() === 'false'" class="container">
  <h4 style="text-align:center">{{monthName}} Chart</h4><br/>
  <div>
    <div style="display: block">
        <canvas baseChart
            [datasets]="barChartData"
            [labels]="mbarChartLabels"
            [options]="barChartOptions"
            [colors]="barChartColors"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>

  <!--ENGLEZA-->
  <div *ngIf="getLanguage() === 'true'" class="container">
    <h4 style="text-align:center">{{monthName}} Chart</h4><br/>
    <div>
      <div style="display: block">
          <canvas baseChart
              [datasets]="barChartData"
              [labels]="mbarChartLabels"
              [options]="barChartOptions"
              [colors]="barChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
  </div>
</body>
</html>
