<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div *ngIf="getLanguage() === 'false'" class="aboutus-area">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="aboutus-image float-left hidden-sm"><img src="../../assets/aboutus.jpg" alt=""></div>
                  </div>
              <div class="col-md-8 col-sm-6 col-xs-12">
                  <div class="aboutus-content ">
                      <h1>Despre Noi <span>dentaWEB</span></h1>
                      <h4>Bine ati venit la clinica stomatologica din Cluj dentaWEB</h4>
                      <p>Daca e sa vorbim in termeni filozofici, adeseori ne intrebam de ce facem ceea ce facem, care este motivul pentru care muncim din greu si petrecem multe ore in cabinetele noastre de stomatologie din Cluj, de ce ne indreptam telescoapele catre cerul cu numarul lui intimidant de stele, de unde vine nevoia noastra de frumos si pur? De unde pasiunea noastra nesfarsita pentru domeniu stomatologic si rabdarea de a petrece majoritatea timpului din viata noastra facand aceasta activitate?

                        Dupa o gandire atenta, ajungem la un singur posibil raspuns logic: din nevoia noastra, ca fiinte umane, de a atinge perfectiunea sau cel puțin o stare cat mai apropiata de ea, ne dedicam timpul liber diverselor tratamente si proceduri din cabinetele de stomatologie din clinica noastra.

                        Transferand toate acestea in meseria noastra, putem spune ca la clinica stomatologica din Cluj dentaWEB, perfectiunea inseamna surasul fericit al pacientilor care se trateaza la noi.

                        Faptul ca suntem o echipa entuziasta, ca avem la dispozitie aparatura de ultima generatie, moderna, folosita intens de fiecare medic stomatolog, ca utilizam materiale de cea mai buna calitate si ca apelam la metode de lucru avangardiste sunt garantia ca in fiecare zi ne propunem sa atingem acea stare de perfectiune, pentru a ne omagia meseria pentru care am fost pregatiti ca si medici stomatologi.</p>

                      <h4>Pasiunea noastra este sa livram calitate!</h4>
                      <p>Clinica noastra stomatologica are la dispozitie propriul laborator in Cluj destinat procedurilor si tratamentelor dentare. Acest fapt nu doar ca ne ofera avantajul competitiv de a livra servicii de stomatologie in Cluj la cea mai buna calitate, dar ne ajuta, totodata, sa o facem intr-un timp cat mai scurt si la un pret cat mai realist.

                          Pe langa tratamentul stomatologic, un aspect foarte important pentru medicii din clinica noastra este felul in care pacientul este primit, modul in care decurge timpul de asteptare, dar si reducerea la minimum a acestuia. Intreaga noastra activitate a fost conceputa in așa fel incat sa asiguram confort si calitate, cu o durata rezonabila si la un efort financiar acceptabil.</p>

                      <h4>Echipa noastra</h4>
                      <p>Medicii de stomatologie de la dentaWEB sunt atenti, dedicati si bine pregatiti, fiecare membru al echipei fiind specializat pe anumite ramuri ale stomatologiei. Impreuna, putem rezolva, in conditii de calitate superioara si de eficienta, orice situatie dentara.</p>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
  <div *ngIf="getLanguage() === 'true'" class="aboutus-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus-image float-left hidden-sm"><img src="../../assets/aboutus.jpg" alt=""></div>
                </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="aboutus-content ">
                    <h1>About Us <span>dentaWEB</span></h1>
                    <h4>Welcome to the dental clinic in Cluj dentaWEB</h4>
                    <p>If we talk in philosophical terms, we often wonder why we do what we do, what is the reason why we work hard and spend many hours in our dental offices in Cluj, why we point our telescopes at the sky with its intimidating number of stars, where does our need for beauty and purity come from? Where does our endless passion for dentistry and patience to spend most of our life doing this activity come from?


                      After careful thought, we arrive at one possible logical answer: from our need, as human beings, to reach perfection or at least a state as close as possible to it, we dedicate our free time to various treatments and procedures in the dental offices of the clinic.

                      Transferring all this to our profession, we can say that at the dental clinic in Cluj dentaWEB, perfection means the happy smile of the patients who are treated at our place.

                      The fact that we are an enthusiastic team, that we have at our disposal the latest, modern equipment, intensively used by every dentist, that we use the best quality materials and that we use avant-garde working methods are the guarantee that every day we aim to we reach that state of perfection, in order to pay homage to the profession for which we were prepared as dentists.</p>

                    <h4>Our passion is to deliver quality!</h4>
                    <p>Our dental clinic has its own laboratory in Cluj for dental procedures and treatments. This fact not only offers us the competitive advantage of delivering dental services in Cluj at the best quality, but also helps us to do it in the shortest possible time and at the most realistic price.

                      Besides the dental treatment, a very important aspect for the doctors in our clinic is the way the patient is received, the way the waiting time goes, but also the minimization of it. Our entire activity has been designed in such a way as to ensure comfort and quality, with a reasonable duration and at an acceptable financial effort.</p>

                    <h4>Our team</h4>
                    <p>The dentists at dentaWEB are attentive, dedicated and well trained, each member of the team being specialized in certain branches of dentistry. Together, we can solve, in conditions of superior quality and efficiency, any dental situation.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
