<nav *ngIf="getLanguage() === 'false'" class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <div class="nav-logo">
    <img id="image" src="../assets/dentaWEB-logos.jpeg">
  </div>
  <a class="navbar-brand" href="#">dentalWEB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']"
        [routerLinkActive]="['active']">Acasa<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['noutati']"
        [routerLinkActive]="['active']">Noutati</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['despre-noi']"
        [routerLinkActive]="['active']">Despre Noi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['medici']"
        [routerLinkActive]="['active']">Echipa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['servicii-tarife']"
        [routerLinkActive]="['active']">Servicii & Tarife</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['contact']"
        [routerLinkActive]="['active']">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['profile']"
        [routerLinkActive]="['active']">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['create-appointment']"
        [routerLinkActive]="['active']">Programari</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['medic-calendar']"
        [routerLinkActive]="['medic-calendar']">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['medic-statistica']"
        [routerLinkActive]="['active']">Statistici</a>
      </li>
    </ul>
  </div>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
<nav *ngIf="getLanguage() === 'true'" class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <div class="nav-logo">
    <img id="image" src="../assets/dentaWEB-logos.jpeg">
  </div>
  <a class="navbar-brand" href="#">dentalWEB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']"
        [routerLinkActive]="['active']">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['noutati']"
        [routerLinkActive]="['active']">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['despre-noi']"
        [routerLinkActive]="['active']">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['medici']"
        [routerLinkActive]="['active']">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['servicii-tarife']"
        [routerLinkActive]="['active']">Services & Prices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['contact']"
        [routerLinkActive]="['active']">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['profile']"
        [routerLinkActive]="['active']">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['create-appointment']"
        [routerLinkActive]="['active']">Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['medic-calendar']"
        [routerLinkActive]="['medic-calendar']">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['medic-statistica']"
        [routerLinkActive]="['active']">Statistics</a>
      </li>
    </ul>
  </div>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
<div class="menu-language">
  <div class="language-selector">
    <img (click)="selectLanguage('en')" src="../assets/language/eng2.ico">
  </div>
  <div class="language-selector">
    <img (click)="selectLanguage('ro')" src="../assets/language/ro2.ico">
  </div>
</div>
<router-outlet></router-outlet>
