.language-selector img{
  width: 30px;
  height: 35px;
}

.menu-language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.nav-logo img {
  width: 100px;
  height: 100px;
  padding: 5px;
}

