
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="OnSubmit()">
      <div class="form-group required">
        <label>UserName</label>
        <input class="form-control" formControlName="UserName">
        <label *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required"
                class="text-danger">This field is required</label>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" formControlName="Email">
        <label *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email"
                class="text-danger">Invalid Email Address</label>
      </div>
      <div class="form-group">
        <label>FullName</label>
        <input class="form-control" formControlName="FullName">
      </div>
      <div class="form-group">
        <label [ngStyle]="{'margin':'10px'}" class="md-check">
          <input type="radio" value="Client" formControlName="Role">
          Client
        </label>
        <label [ngStyle]="{'margin':'10px'}" class="md-check">
          <input type="radio" value="Medic" formControlName="Role">
          Medic
        </label>
        <label *ngIf="service.formModel.get('Role').touched && service.formModel.get('Role').errors?.required"
                class="text-danger">This field is required</label>
      </div>
      <div formGroupName="Passwords">
        <div class="form-group required">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="Password">
          <label *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required"
                class="text-danger">This field is required</label>
          <label *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength"
                class="text-danger">Password should have at least 4 characters</label>
        </div>
        <div class="form-group required">
          <label>Confirm Password</label>
          <input type="password" class="form-control" formControlName="ConfirmPassword">
          <label *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required"
                class="text-danger">This field is required</label>
          <label *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.minlength"
                class="text-danger">Password should have at least 4 characters</label>
          <label *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch"
                class="text-danger">Confirm Password does not match</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Sign Up</button>
        </div>
      </div>
    </form>
