<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Servicii & Tarife</title>
</head>
<body>
    <div  *ngIf="getLanguage() === 'false'" class="middle">
      <div class="menu">
          <ul>
              <li class="item" id="categ1">
                  <a class="btn" (click)="showSubmenu1 = !showSubmenu1"> Estetica Dentara</a>
                  <div *ngIf="showSubmenu1" class="smenu">
                      <a >Albire profesionala edodontica - 240 RON</a>
                      <a >Albire profesionala cu lampa Philips ”Zoom” H2O2 6% - 1300 RON</a>
                      <a >Aplicare bijuterii dentare pe suprafata smaltului - 180 RON</a>
                      <a >Albire profesionala in cabinet ”Opalescence” H2O2 40% - 600 RON</a>
                  </div>
              </li>

              <li class="item" id="categ2">
                  <a class="btn" (click)="showSubmenu2 = !showSubmenu2"> Consultatii primare si de specialitate</a>
                  <div *ngIf="showSubmenu2" class="smenu">
                      <a >Consultatie stomatologica generala, realizare fisa completa, intocmire plan tratament - 120 RON</a>
                      <a >Diagnostic parodontologic, status parodontal - 180 RON</a>
                      <a >Diagnostic, evaluarea rezervei osoase, masuratori implantologie, model de studiu - 180 RON</a>
                      <a >Realizarea modelului documentar - 120 RON</a>
                  </div>
              </li>

              <li class="item" id="categ3">
                  <a class="btn" (click)="showSubmenu3 = !showSubmenu3"> Tratamente odontale (obturații)</a>
                  <div *ngIf="showSubmenu3" class="smenu">
                      <a >Obturatie inomer - 95-120 RON</a>
                      <a >Coafaj cu Hidroxid de Ca (baza glasionomer) - 50 RON</a>
                      <a >Obturatie EQUIA - 150 RON</a>
                      <a >Aplicare sistem de izolare - Diga - 35 RON</a>
                      <a >Obturatie dinti frontali - 275 RON</a>
                      <a >Reconstructie cu compozit fotopolimerizabil - 180 RON</a>
                  </div>
              </li>

              <li class="item" id="categ4">
                <a class="btn" (click)="showSubmenu4 = !showSubmenu4"> Protetica dentara</a>
                <div *ngIf="showSubmenu4" class="smenu">
                    <a >Demontare - taiere coroane metalice - 55 RON/dinte</a>
                    <a >Coroana provizorie acrilică (SCUTAN) - 70 RON</a>
                    <a >Coroană metalica - 290 RON</a>
                    <a >Fațeta de ceramica (veneer) - 1400 RON</a>
                    <a >Inlay/Onlay compozit - 400 RON</a>
                    <a >Pivot metelic cu capsa - 360 RON</a>
                    <a >Gutiera pentru tratamentul bruxismului (arcada) - 240 RON</a>
                    <a >Rebazare proteza - 240 RON</a>
                    <a >Gutiere albire - 130 RON</a>
                    <a >Coroana integral ceramica - 1430 RON</a>
                    <a >Cimentare coroana definitiva - 90 RON</a>
                </div>
              </li>

              <li class="item" id="categ5">
                <a class="btn" (click)="showSubmenu5 = !showSubmenu5"> Implantologie</a>
                <div *ngIf="showSubmenu5" class="smenu">
                  <a >Implant dentar MegaGen Anyone - 400 EURO</a>
                  <a >Implant dentar Straumann BLT - 650 EURO</a>
                  <a >Sinus lift extern (fara biomateriale) - 2200 RON</a>
                  <a >Aditie os mineral/bovin/uman (fara biomateriale) - 550 RON</a>
                </div>
              </li>

              <li class="item" id="categ6">
                <a class="btn" (click)="showSubmenu6 = !showSubmenu6"> Chrirurgie Dento-Alveolara</a>
                <div *ngIf="showSubmenu6" class="smenu">
                    <a >Extractie dinte temporar - 120 RON</a>
                    <a >Extractie dinte monoradicular - 150 RON</a>
                    <a >Extractie molar de minte erupt - 300 RON</a>
                    <a >Extractie rest radicular - 180 RON</a>
                    <a >Odontectomie canin - 500 RON</a>
                    <a >Plastie comunicare oro - antrala  - 300 RON</a>
                    <a >Cura Partila Sinus Maxilar - 600 RON</a>
                    <a >Decapusonare molar III - 150 RON</a>
                </div>
              </li>

              <li class="item" id="categ7">
                <a class="btn" (click)="showSubmenu7 = !showSubmenu7"> Chrirurgie Edodontica</a>
                <div *ngIf="showSubmenu7" class="smenu">
                    <a >Rezectie apicala monoradicular - 400 RON</a>
                    <a >Rezectie apicala pluriradicular - 500 RON</a>
                </div>
              </li>

              <li class="item" id="categ8">
                <a class="btn" (click)="showSubmenu8 = !showSubmenu8"> Chirurgie Proprotetică</a>
                <div *ngIf="showSubmenu8" class="smenu">
                    <a >Excizie creasta gingivala balanța - 300 RON</a>
                    <a >Alungire coronara (dinte) - 120 RON</a>
                </div>
              </li>

              <li class="item" id="categ9">
                <a class="btn" (click)="showSubmenu9 = !showSubmenu9"> Chrirurgie Parodontala</a>
                <div *ngIf="showSubmenu9" class="smenu">
                    <a >Tunelizare - 1200 RON</a>
                    <a >Tratament rezorbitii osoase verticale (fara materiale) - 550 RON</a>
                </div>
              </li>

              <li class="item" id="categ10">
                <a class="btn" (click)="showSubmenu10 = !showSubmenu10"> Chrirurgie Maxilo-faciala</a>
                <div *ngIf="showSubmenu10" class="smenu">
                    <a >Lip repositioning - 1440 RON</a>
                    <a >Reducere si imobilizare fracturi, proces alveolar - 480 RON</a>
                </div>
              </li>

              <li class="item" id="categ11">
                <a class="btn" (click)="showSubmenu11 = !showSubmenu11"> Estetica Faciala</a>
                <div *ngIf="showSubmenu11" class="smenu">
                    <a >Injectari acid hyaluronic Restylane - de la 275 EURO/ml</a>
                    <a >Plasmolifting (tehnica vampir) - 1200 RON</a>
                </div>
              </li>

              <li class="item" id="categ12">
                <a class="btn"(click)="showSubmenu12 = !showSubmenu12" > Radiologie</a>
                <div *ngIf="showSubmenu12" class="smenu">
                    <a >Radiografie digitala retroalveolara - 24 RON</a>
                </div>
              </li>
          </ul>
      </div>
    </div>
    <div  *ngIf="getLanguage() === 'true'" class="middle">
      <div class="menu">
          <ul>
              <li class="item" id="categ1">
                  <a class="btn" (click)="showSubmenu1 = !showSubmenu1"> Dental Aesthetics</a>
                  <div *ngIf="showSubmenu1" class="smenu">
                      <a >Professional edodontic whitening - 240 RON</a>
                      <a >Professional whitening with Philips "Zoom" lamp H2O2 6% - 1300 RON</a>
                      <a >Applying dental jewelry on the enamel surface - 180 RON</a>
                      <a >Professional whitening in the "Opalescence" office H2O2 40% - 600 RON</a>
                  </div>
              </li>

              <li class="item" id="categ2">
                  <a class="btn" (click)="showSubmenu2 = !showSubmenu2"> Primary and specialized consultations</a>
                  <div *ngIf="showSubmenu2" class="smenu">
                      <a >General dental consultation, completion of the complete file, preparation of the treatment plan - 120 RON</a>
                      <a >Periodontic diagnosis, periodontal status - 180 RON</a>
                      <a >Diagnosis, assessment of bone reserve, implantology measurements, study model - 180 RON</a>
                      <a >Making the documentary model - 120 RON</a>
                  </div>
              </li>

              <li class="item" id="categ3">
                  <a class="btn" (click)="showSubmenu3 = !showSubmenu3"> Dental treatments (fillings)</a>
                  <div *ngIf="showSubmenu3" class="smenu">
                      <a >Inomere filling - 95-120 RON</a>
                      <a >Ca Hydroxide styling (glasionomer base) - 50 RON</a>
                      <a >EQUIA filling - 150 RON</a>
                      <a >Insulation system application - Diga - 35 RON</a>
                      <a >Front teeth filling - 275 RON</a>
                      <a >Reconstruction with light-curable composite - 180 RON</a>
                  </div>
              </li>

              <li class="item" id="categ4">
                <a class="btn" (click)="showSubmenu4 = !showSubmenu4"> Prosthetic dentistry</a>
                <div *ngIf="showSubmenu4" class="smenu">
                    <a >Disassembly - cutting of metal crowns - 55 RON/dinte</a>
                    <a >Acrylic temporary crown (SCUTAN) - 70 RON</a>
                    <a >Metal crown - 290 RON</a>
                    <a >The ceramic veneer(veneer) - 1400 RON</a>
                    <a >Inlay / Composite Onlay - 400 RON</a>
                    <a >Metallic pivot with staple - 360 RON</a>
                    <a >Gutter for the treatment of bruxism (arch) - 240 RON</a>
                    <a >Prostate overlap - 240 RON</a>
                    <a >Whitening gutters - 130 RON</a>
                    <a >All-ceramic crown - 1430 RON</a>
                    <a >Definitive crown cementation - 90 RON</a>
                </div>
              </li>

              <li class="item" id="categ5">
                <a class="btn" (click)="showSubmenu5 = !showSubmenu5"> Implantology</a>
                <div *ngIf="showSubmenu5" class="smenu">
                  <a >Dental implant MegaGen Anyone - 400 EURO</a>
                  <a >Straumann BLT dental implant - 650 EURO</a>
                  <a >External sinus lift (without biomaterials) - 2200 RON</a>
                  <a >Mineral / bovine / human bone addition (without biomaterials) - 550 RON</a>
                </div>
              </li>

              <li class="item" id="categ6">
                <a class="btn" (click)="showSubmenu6 = !showSubmenu6"> Dental-Alveolar Surgery</a>
                <div *ngIf="showSubmenu6" class="smenu">
                    <a >Temporary tooth extraction - 120 RON</a>
                    <a >Monoradicular tooth extraction - 150 RON</a>
                    <a >Molar extraction of erupted mind - 300 RON</a>
                    <a >Root root extraction - 180 RON</a>
                    <a >Canine odontectomy - 500 RON</a>
                    <a >Gold-antral communication plastic  - 300 RON</a>
                    <a >Cura Partila Sinus Maxilar - 600 RON</a>
                    <a >Molar decapitation III - 150 RON</a>
                </div>
              </li>

              <li class="item" id="categ7">
                <a class="btn" (click)="showSubmenu7 = !showSubmenu7"> Edodontic Surgery</a>
                <div *ngIf="showSubmenu7" class="smenu">
                    <a >Monoradicular apical resection - 400 RON</a>
                    <a >Pluriradicular apical resection - 500 RON</a>
                </div>
              </li>

              <li class="item" id="categ8">
                <a class="btn" (click)="showSubmenu8 = !showSubmenu8"> Prosthetic Surgery</a>
                <div *ngIf="showSubmenu8" class="smenu">
                    <a >Excision of the gingival ridge scales - 300 RON</a>
                    <a >Coronary elongation (tooth) - 120 RON</a>
                </div>
              </li>

              <li class="item" id="categ9">
                <a class="btn" (click)="showSubmenu9 = !showSubmenu9"> Periodontal surgery</a>
                <div *ngIf="showSubmenu9" class="smenu">
                    <a >Tunneling - 1200 RON</a>
                    <a >Treatment of vertical bone resorption (without materials) - 550 RON</a>
                </div>
              </li>

              <li class="item" id="categ10">
                <a class="btn" (click)="showSubmenu10 = !showSubmenu10"> Maxillofacial surgery</a>
                <div *ngIf="showSubmenu10" class="smenu">
                    <a >Lip repositioning - 1440 RON</a>
                    <a >Reduction and immobilization of fractures, alveolar process - 480 RON</a>
                </div>
              </li>

              <li class="item" id="categ11">
                <a class="btn" (click)="showSubmenu11 = !showSubmenu11"> Facial Aesthetics</a>
                <div *ngIf="showSubmenu11" class="smenu">
                    <a >Restylane hyaluronic acid injections - de la 275 EURO/ml</a>
                    <a >Plasmolifting (vampire technique) - 1200 RON</a>
                </div>
              </li>

              <li class="item" id="categ12">
                <a class="btn"(click)="showSubmenu12 = !showSubmenu12" > Radiology</a>
                <div *ngIf="showSubmenu12" class="smenu">
                    <a >Retroalveolar digital radiography - 24 RON</a>
                </div>
              </li>
          </ul>
      </div>
    </div>
</body>
</html>
