label{
  display:inline-block;
  width:200px;
  margin-right:10px;
  text-align:left;
  }

  fieldset{
  border:none;
  width:500px;
  margin:0px auto;
  }

  /* .btn {
    font-size: 14px;
    line-height: 28px;
    background: #FFFFFF;
    border: 1px solid #C3C3C3;
    position: relative;
    padding: 10px;
    display: inline;
  } */

  .page-holder {
    min-height: 100vh;
  }

  .bg-cover {
    background-size: cover !important;
  }

  .button{
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)
  }

  .button{
    position:absolute;
    left:40%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .button:hover {
    background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
  }



