<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div *ngIf="getLanguage() === 'false'" class="container">
    <section class="section2">
      <img src="https://us.123rf.com/450wm/rosadu/rosadu1802/rosadu180200081/95889333-stock-vector-polygon-tooth-human-hand-blue-stars-2-3-.jpg?ver=6" class="image" />
      <div class="content">
        <h2 class="title">
          Bine ati venit la clinica dentaWEB!
        </h2>
        <h3>
          Medicina dentară face parte din domeniile în care profesionalismul si experiența unui medic sunt reflectate direct în oglinda în care se privește pacientul.
        </h3>
        <h4>
          Cabinetul de stomatologie dentaWEB a luat naștere din dorința de a oferi oamenilor fericirea de a zâmbi cu încredere din nou. Pentru a ne asigura că pacienții noștri se vor bucura de servicii la cele mai înalte standarde, am ales să devenim un centru care cuprinde toate specialitățile medicinei dentare, cu o echipă formată din medici specialiști.
        </h4>
        <p class="paragraph">
          Nu ne vom opri din a inova și a învăța, vom continua să ne ascultăm pacienții cu grija și atenția cu care ne ascultăm și membrii familiei. Transparența, respectul și dedicarea noastră față de oamenii care ne trec pragul corespund cu filosofia pe care o împărțim cu marile centre medicale din lume: pacientul nostru este partenerul nostru.
        </p>
      </div>
    </section>

  </div>
  <div *ngIf="getLanguage() === 'true'" class="container">
    <section class="section2">
      <img src="https://us.123rf.com/450wm/rosadu/rosadu1802/rosadu180200081/95889333-stock-vector-polygon-tooth-human-hand-blue-stars-2-3-.jpg?ver=6" class="image" />
      <div class="content">
        <h2 class="title">
          Welcome to the dentaWEB clinic!
        </h2>
        <h3>
          Dentistry is one of the areas in which the professionalism and experience of a doctor are directly reflected in the mirror in which the patient looks.
        </h3>
        <h4>
          The dental office dentaWEB was born from the desire to give people the happiness to smile with confidence again. To ensure that our patients will enjoy services at the highest standards, we have chosen to become a center that includes all specialties of dentistry, with a team of specialists.
        </h4>
        <p class="paragraph">
          We will not stop innovating and learning, we will continue to listen to our patients with the care and attention with which we listen to our family members. Our transparency, respect and dedication to the people who cross our threshold correspond to the philosophy we share with the major medical centers in the world: our patient is our partner.
        </p>
      </div>
    </section>
  </div>
</body>
</html>
